# Ignore all files by default
/*
!/app/

# Ignore directories related to Android build processes
*.iml
.gradle
/local.properties
/.idea/
*.apk
*.ap_
*.aab
*.so
/build/
captures/
.externalNativeBuild/
.cxx/

# Ignore generated directories
/app/build/
/app/release/
/app/intermediates/
/app/.gradle/

# Test-related files/folders
/androidTest/
/test/

# Ignore macOS specific files
.DS_Store

# Ignore some Android specific files and directories
local.properties
